CompileFlags:
  CompilationDatabase: build

Index:
  Background: Build
  StandardLibrary: true

Diagnostics:
  ClangTidy:
    Add:
      - bugprone-*
      - clang-analyzer-*
      - performance-*
      - readability-*
      - modernize-*
      - portability-*
      - misc-*
    Remove:
      - bugprone-easily-swappable-parameters
      - bugprone-too-small-loop-variable
      - readability-identifier-length
      - readability-function-cognitive-complexity
      - readability-implicit-bool-conversion
      - readability-else-after-return
    FastCheckFilter: None

  UnusedIncludes: Strict
  MissingIncludes: Strict

Completion:
  AllScopes: Yes

InlayHints:
  Enabled: true
  ParameterNames: true
  DeducedTypes: true
  Designators: true
  BlockEnd: false
  TypeNameLimit: 0

Hover:
  ShowAKA: Yes
